@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Teko:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #df1f2c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #dd082f;
}

body {
  position: relative;
  font-family: 'Poppins', sans-serif;
}

.heading-Teko-fonts {
  font-family: 'Teko', sans-serif;
}

.fonts-popins {
  font-family: 'Poppins', sans-serif;
}

.BannerContainer {
  background-image: url("./assets/Banner/Banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 10;
  overflow-y: hidden !important;
}

.BannerContainer .line1 {
  width: 4px;
  height: 300px;
  bottom: 7.938em;
  left: 2.063em;
  transform-origin: bottom center;
  transform: rotate(27deg);
  animation: lineAnimation 6s ease-out infinite;
}

.BannerContainer .line2 {
  width: 4px;
  height: 300px;
  background-color: #dd082f;
  left: 18%;
  bottom: 3%;
  transform: rotate(27deg);
  animation: line2Animation 6s ease-out infinite;
  transform-origin: top center;
}

.BannerContainer .line3 {
  width: 4px;
  height: 300px;
  background-color: #dd082f;
  right: 907px;
  bottom: 234px;
  transform: rotate(23deg);
  animation: line4Animation 6s ease-out infinite;
  transform-origin: bottom center;
}

.BannerContainer .line4 {
  width: 4px;
  height: 300px;
  right: 1056px;
  bottom: -13px;
  transform: translateX(-50%) rotate(22deg);
  animation: line3Animation 6s ease-out infinite;
  transform-origin: bottom center;
}

.BannerContainer .line5 {
  width: 4px;
  height: 300px;
  right: 167px;
  bottom: 296px;
  transform: rotate(31deg);
  animation: line5Animation 6s ease-out infinite;
  transform-origin: bottom center;
}

.BannerContainer::after {
  content: '';
  width: 60%;
  height: 100%;
  position: absolute;
  top: 0px;
  clip-path: polygon(37% 0px, 88% 1px, 59% 100%, -12px 101%);
  background-color: #620e13;
  z-index: 13;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.5;
  left: 85px;
}

.BannerContainer .contactbutton {
  clip-path: polygon(5% 0, 99% 0, 95% 100%, 0% 100%);
  right: 30%;
  bottom: 15px;
}

.BannerContainer .contactbutton a {
  cursor: pointer;
}

.BannerContainer .HerSection {
  z-index: 100;
  text-shadow: 2px 2px 3px 3px #f7f7f7;
  padding-top: 346px;
  padding-left: 66px;
}

.BannerContainer .HerSection span {
  font-size: 114px;
  max-width: 80%;
  word-spacing: 20px;
  line-height: 102px;
}

.BannerContainer .HerSection p {
  max-width: 40%;
}

.BannerContainer .BannerMiddle {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 28%;
  z-index: 13;
  z-index: 10;
  opacity: 0.4;
}

.BannerContainer .BannerRight {
  background-image: url("./assets/Banner/BannerRight.png");
  z-index: 10;
  opacity: 0.4;
  background-repeat: no-repeat;
  background-size: cover;
}

.navContainer {
  width: 95%;
  padding-left: 20px !important;
  background: linear-gradient(122deg, transparent 3%, white 3%);
  top: 21px;
  z-index: 16;
}

.navContainer img {
  height: 50px;
  margin-right: 40px;
}

.navContainer .navbar {
  background-origin: border-box;
  z-index: 20;
}

.navContainer .navbar-nav {
  gap: 40px;
  z-index: 20;
  color: #fff !important;
  background-color: #df1f2c !important;
  clip-path: polygon(6% 0, 99.5% 0, 95% 100%, 0% 100%);
}

.navContainer .navbar-nav .nav-item {
  line-height: 10px;
}

.navContainer .navbar-nav .nav-item .nav-link {
  cursor: pointer;
}

.navContainer .navbar-nav .nav-item .active {
  position: relative;
}

.navContainer .navbar-nav .nav-item .active::before {
  content: '';
  position: absolute;
  width: 51px;
  height: 6px;
  top: -28px;
  left: 5px;
  background-color: white;
}

.navContainer .navbar-nav .nav-item .active::after {
  content: '';
  background-image: url(../assets/icons/caret-down.svg);
  background-size: contain;
  position: absolute;
  background-repeat: no-repeat;
  width: 10px;
  height: 20px;
  top: -32px;
  left: 48%;
  transform: translateX(-50%);
}

.Aboutus {
  margin-top: 7rem;
  margin-bottom: 7rem;
}

.Aboutus .AboutContainer {
  height: 70vh;
  margin-top: 40px;
}

.Aboutus .AboutContainer .experienceCard {
  width: 243px;
  height: 41px;
  background-color: #dd082f;
  transform: rotate(270deg);
  padding-top: 5px;
  top: 101px;
  left: -168px;
}

@media (max-width: 1289px) {
  .Aboutus .AboutContainer .experienceCard {
    top: 46px;
  }
}

.Aboutus .AboutContainer .playVideo {
  width: 140px;
  height: 140px;
  background-color: #dc0028;
  bottom: -161px;
  right: 13px;
}

@media (max-width: 500px) {
  .Aboutus .AboutContainer .playVideo {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 770px) {
  .Aboutus .AboutContainer .playVideo {
    right: -10px;
  }
}

.Aboutus .AboutContainer .bottom-img {
  height: 300px;
  bottom: -136px;
  left: -79px;
}

@media (max-width: 770px) {
  .Aboutus .AboutContainer .bottom-img {
    left: 100px;
    width: 452px;
    height: 353px;
  }
}

@media (max-width: 500px) {
  .Aboutus .AboutContainer .bottom-img {
    width: 230px;
    height: 230px;
    left: -15px;
  }
}

@media (max-width: 800px) {
  .Aboutus .AboutContainer .bottom-img {
    left: -20px;
  }
}

@media (max-width: 1280px) {
  .Aboutus .AboutContainer {
    height: auto;
    padding: 30px;
  }
}

.Aboutus .AboutContainer .AboutContent {
  margin-bottom: 8rem !important;
}

.Aboutus .AboutContainer .AboutContent h5 {
  font-weight: 500;
  color: #dd082f;
}

.Aboutus .AboutContainer .AboutContent h6 {
  font-size: 63px;
  line-height: 50px;
}

.Aboutus .AboutContainer .AboutContent h6::after {
  position: absolute;
  content: '';
  background-image: url("./assets/Logo/HeartIcon2.png");
  right: 50px;
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center;
  bottom: 10px;
}

.Aboutus .AboutContainer .AboutContent h6 span {
  color: #dd082f;
  letter-spacing: 6px;
}

.services {
  height: 85vh;
  background-image: url("../assets/Services/services.png");
  background-size: cover;
  background-position: center;
}

.services .top-heading {
  font-size: 60px;
  border-bottom: 3px solid #dd082f;
}

.services .top-heading::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
  bottom: -9px;
  right: -10px;
  border-radius: 100%;
}

.services .top-heading::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
  bottom: -9px;
  left: -10px;
  border-radius: 100%;
}

.services .top-heading span {
  color: #dd082f;
}

.services .servicesHeading p {
  max-width: 40%;
}

@media (max-width: 1200px) {
  .services .servicesHeading p {
    max-width: 96%;
  }
}

.services .tabsThumnail .tabsHeader span {
  background-color: red;
}

.slider-nav .slick-slide {
  width: 300px;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.slider-thumb .slick-slide.slick-current {
  background-color: #dd082f;
}

.slick-prev {
  display: none;
}

.slick-next {
  position: absolute;
  right: 0;
  bottom: 10px;
  background-color: transparent;
  border: none;
  color: #dd082f;
}

.slider-content-desc {
  padding: 10px;
}

.slider-content-desc .slick-next {
  display: none !important;
}

.slider-content-desc h2 {
  font-size: 40px;
  padding-left: 20px;
}

.slider-content-desc h2::before {
  position: absolute;
  content: '';
  width: 2px;
  height: 40px;
  background-color: #dd082f;
  left: 0px;
}

.slider-content-desc p {
  max-width: 100%;
}

.slider-content-desc .slideList {
  gap: 30px;
  padding-bottom: 10px;
}

.slider-content-desc .slideList span {
  padding-left: 40px;
}

.slider-content-desc .slideList span::before {
  content: '';
  position: absolute;
  left: 0px;
  background-image: url("../assets/icons/tickicons.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
}

.slider-content-desc .slideList span::after {
  content: '';
  width: 3px;
  height: 20px;
  background-color: white;
  position: absolute;
  left: 11px;
  top: 31px;
}

.slider-content-desc .slideList span:last-child::after {
  content: '';
  position: absolute;
  width: 0px !important;
  height: 0px !important;
  background: transparent !important;
  left: 0px;
  top: 0px;
}

.slider-content-desc .buttonList button {
  background-color: #dd082f;
  border: none;
  clip-path: polygon(11% 0%, 100% 0%, 87% 101%, 0% 100%);
  width: 190px;
}

.slider-content-desc .buttonList button:last-child {
  width: 223px;
}

.slick-prev {
  display: none !important;
}

.ImageBox {
  width: 64%;
  height: 500px;
  margin-right: 10px;
}

.ImageBox .ImageContainer {
  gap: 10px;
  border-radius: 10px;
}

.ImageBox .ImageContainer img {
  border-radius: 10px;
}

.ImageBox.slick-active img {
  filter: grayscale(100%);
}

.ImageBox.slick-current img {
  filter: grayscale(0%);
}

.ImageBox .slick-slide .overlay {
  display: none;
}

.ImageBox .slick-slide.slick-current {
  position: relative;
}

.right-slider-icon {
  position: absolute;
  top: 150px;
  right: 100px;
  cursor: pointer;
}

.technology-bg {
  background-image: url("./assets/Banner/Untitled-1.png");
  background-position: -500px 550px;
}

.technology {
  background-repeat: no-repeat;
  background-position: 0 -10%;
  background-size: cover;
}

.technology h4 {
  font-size: 75px;
  color: #dd082f;
  padding-left: 30px;
  padding-right: 30px;
  border-bottom: 2px solid #dd082f;
  width: max-content;
}

@media (max-width: 1000px) {
  .technology h4 {
    font-size: 39px;
  }
}

.technology h4 span::after {
  position: absolute;
  content: '';
  width: 120px;
  height: 120px;
  background-image: url("./assets/Logo/HeartIcon.png");
  left: -39px;
  bottom: 28px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.technology h4::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #000;
  bottom: -10px;
  right: 0px;
  border-radius: 100%;
}

.technology h4::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #000;
  bottom: -10px;
  left: 0px;
  border-radius: 100%;
}

.technology .technologyContainer {
  max-width: 100%;
}

@media (max-width: 1220px) {
  .technology .technologyContainer {
    width: 100%;
  }
}

.technology .technologyContainer .column {
  box-sizing: border-box;
  padding: 20px;
}

@media (min-width: 600px) {
  .technology .technologyContainer .column {
    width: 100%;
  }
}

.technologyContainer {
  max-width: 1200px;
  width: 71%;
}

@media (max-width: 1220px) {
  .technologyContainer {
    width: 100%;
  }
}

.technologyContainer .column {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
}

@media (min-width: 600px) {
  .technologyContainer .column {
    width: 50%;
  }
}

.technologyContainer .slick-carousel .slick-slide.slick-current .slide-content {
  background-color: #dd082f;
}

.technologyContainer .slick-carousel .slick-slide.slick-cloned .slide-content {
  background-color: gray;
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.slick-carousel {
  width: 100%;
}

.slick-carousel .slide-content {
  width: 100px;
  height: 100px;
  background-color: #959595;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1000px) {
  .slick-carousel .slide-content {
    width: 80px;
    height: 80px;
  }
  .slick-carousel .slide-content img {
    width: 60%;
    height: 60%;
  }
}

.slick-carousel .slide-content:hover {
  background-color: #dd082f;
}

.slick-carousel .slick-next {
  position: absolute;
  right: 28px;
  bottom: 88px;
  padding: 5px;
  border-radius: 100%;
  background-color: grey;
  cursor: pointer;
  color: white;
}

@media (max-width: 1000px) {
  .slick-carousel .slick-next {
    right: 52px;
    bottom: 74px;
  }
}

.slick-carousel .slick-prev {
  position: absolute;
  left: -80px;
  bottom: 86px;
  padding: 5px;
  border-radius: 100%;
  background-color: grey;
  cursor: pointer;
  color: white;
  display: block !important;
}

@media (max-width: 1000px) {
  .slick-carousel .slick-prev {
    left: -40px;
    bottom: 74px;
  }
}

.dotted-line {
  margin-top: 20px;
}

.dotted-line::after {
  width: 102%;
  content: '';
  position: absolute;
  height: 4px;
  background: repeating-linear-gradient(90deg, transparent, transparent 5px, #959595 5px, #959595 10px);
  top: 94px;
  left: -75px;
  animation: moveDots 2s linear infinite;
  z-index: -1;
}

@media (max-width: 1000px) {
  .dotted-line::after {
    width: 96%;
    content: '';
    top: 91px;
    left: -45px;
    z-index: -1;
  }
}

.dotted-line .dotted-line-active {
  background-color: #dd082f;
}

@keyframes moveDots {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 10px 0;
    /* Adjust the distance to move the dots */
  }
}

.ourRecentProjects {
  margin-bottom: 50px;
}

.ourRecentProjects .headingRecentProjects h2 {
  font-size: 75px;
  border-bottom: 4px solid #dd082f;
}

.ourRecentProjects .headingRecentProjects h2::after {
  content: '';
  width: 20px;
  height: 20px;
  background-color: #000;
  position: absolute;
  bottom: -10px;
  right: 0;
  border-radius: 100%;
}

.ourRecentProjects .headingRecentProjects h2::before {
  content: '';
  width: 20px;
  height: 20px;
  background-color: #000;
  position: absolute;
  bottom: -10px;
  left: 0;
  border-radius: 100%;
}

.ourRecentProjects .headingRecentProjects h2 span {
  color: #dd082f;
}

.ourRecentProjects .headingRecentProjects h2 span::after {
  position: absolute;
  content: '';
  width: 120px;
  height: 120px;
  background-image: url("./assets/Logo/HeartIcon.png");
  left: -41px;
  bottom: 37px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

button:focus {
  outline: 0;
}

.Carousel-owl {
  height: 60vh;
}

.owl-carousel-stacked {
  margin-top: 20px;
  width: 100%;
}

.owl-carousel-stacked .owl-item.center {
  transform: scale(1) !important;
}

.owl-carousel-stacked .owl-item {
  transition: all 0.5s;
  transform: scale(0.7) !important;
  height: 600px;
}

.owl-carousel-stacked .owl-item img {
  height: 470px;
}

.owl-carousel-stacked .left-of-center {
  transform: translate3d(0px, 0px, -100px) rotateX(5deg) rotateY(-29deg) scale(1) !important;
  /* clip-path: polygon(0 16%, 100% 0%, 100% 100%, 0 86%); */
  /* clip-path: polygon(0 16%, 100% 0, 100% 100%, 0 98%); */
}

.owl-carousel-stacked .left-of-center {
  margin-right: -10px !important;
}

.owl-carousel-stacked .left-of-center .item {
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 90%);
}

.owl-carousel-stacked .right-of-center {
  transform: translate3d(0px, 0px, -100px) rotateX(6deg) rotateY(20deg) scale(1) !important;
  /* clip-path: polygon(0 0, 91% 12%, 90% 90%, 1% 100%); */
}

.owl-carousel-stacked .right-of-center .item {
  clip-path: polygon(0 0%, 100% 15%, 100% 90%, 0 100%);
}

.owl-carousel-stacked .center {
  z-index: 2;
}

.owl-carousel-stacked .owl-carousel {
  position: relative;
  padding: 0 80px;
}

.owl-carousel-stacked .owl-prev,
.owl-carousel-stacked .owl-next {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  cursor: pointer;
  color: #ddd !important;
}

.owl-carousel-stacked .owl-prev {
  left: 0;
}

.owl-carousel-stacked .owl-next {
  right: 0;
}

.owl-carousel-stacked .owl-dots {
  text-align: center;
}

.owl-carousel-stacked .owl-dot {
  cursor: pointer;
  background-color: #ddd !important;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin: 10px 2px;
}

.owl-carousel-stacked .owl-dot.active {
  background-color: #d2181f !important;
  transform: scale(2);
}

.owl-carousel-stacked .owl-stage-outer {
  padding: 25px 0;
}

.owl-carousel .item {
  position: relative;
}

.owl-carousel .item .ItemCard {
  width: 100%;
  height: 120px;
  background-color: #dd082f;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 2px;
  position: relative;
  top: 0px;
  padding-top: 18px;
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 1000px) {
  .owl-carousel .item .ItemCard {
    padding-left: 30px;
    padding-top: 20px;
  }
}

.owl-carousel .item .ItemCard h3 {
  color: white;
  font-size: 1.3rem;
}

.owl-carousel .item .ItemCard p {
  color: white;
}

.owl-carousel .item .ItemCard h5 {
  position: absolute;
  font-size: 91px;
  opacity: 0.5;
  right: 20px;
  top: 14px;
}

.owl-item.active.left-of-center .item .ItemCard {
  display: none;
}

.owl-item.active.right-of-center .item .ItemCard {
  display: none;
}

.owl-item.active.left-of-center {
  margin-top: 12px;
}

.owl-item.active.left-of-center .item {
  position: relative;
}

.owl-item.active.left-of-center .item::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  /* Adjust the opacity as needed */
  z-index: 1;
}

.owl-item.active.right-of-center {
  margin-top: 12px;
}

.owl-item.active.right-of-center .item {
  position: relative;
}

.owl-item.active.right-of-center .item::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  /* Adjust the opacity as needed */
  z-index: 1;
}

/* ---------------- BRAND COMPONENT STYLING ---------------------- */
.Brands .BrandBoxes {
  padding: 0px 100px 0px 100px;
}

@media (max-width: 900px) {
  .Brands .BrandBoxes {
    padding: 0px 20px 0px 20px;
  }
}

.Brands .BrandCenter {
  padding-top: 40px;
}

.Brands .BrandCenter .BrandsSection {
  height: 140px;
}

.Brands .BrandCenter .BrandsSection .slick-next {
  display: none !important;
}

.Brands .BrandCenter .BrandsSection .slick-prev {
  display: none;
}

@media (max-width: 1000px) {
  .Brands .BrandCenter .BrandsSection {
    width: 90%;
  }
}

.Brands .BrandCenter .BrandsSection .BrandCol {
  transition: hover 0.5s ease-in-out;
  height: 100px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.Brands .BrandCenter .BrandsSection .BrandCol:hover {
  transform: scale(1.1);
  /* Adjust the scale factor */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  /* Adjust the box-shadow */
}

.BrandBox.active img {
  filter: grayscale(0%);
}

.Brands h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 60px;
  padding: 0px 20px 0px 20px;
  border-bottom: 2px solid #dd082f;
}

.Brands h2::after {
  content: '';
  width: 20px;
  height: 20px;
  background-color: #000;
  right: 0;
  position: absolute;
  bottom: -10px;
  border-radius: 100%;
}

.Brands h2::before {
  content: '';
  width: 20px;
  height: 20px;
  background-color: #000;
  left: 0;
  position: absolute;
  bottom: -10px;
  border-radius: 100%;
}

.Brands h2 > span {
  color: #d30027;
  word-spacing: 6px;
}

.Brands h2 > span::after {
  position: absolute;
  content: '';
  width: 120px;
  height: 120px;
  background-image: url("./assets/Logo/HeartIcon.png");
  left: -53px;
  bottom: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.ctasection {
  background-image: url("./assets/CTA/corporate-businessme.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 350px;
  width: 100%;
}

@media (max-width: 1300px) {
  .ctasection {
    width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media (max-width: 1000px) {
  .ctasection {
    flex-direction: column !important;
  }
}

.ctasection .ctaLeft {
  gap: 10px;
  flex-direction: column;
  padding-left: 100px;
}

@media (max-width: 1300px) {
  .ctasection .ctaLeft {
    padding-left: 20px;
  }
}

.ctasection .ctaLeft h4 {
  font-size: 50px;
  color: #dd082f;
  text-transform: uppercase;
}

@media (max-width: 1300px) {
  .ctasection .ctaLeft h4 {
    font-size: 30px;
  }
}

.ctasection .ctaLeft .ctaDivider {
  height: 4px;
  background-color: white;
}

@media (max-width: 1300px) {
  .ctasection .ctaLeft .ctaDivider {
    width: 100%;
  }
}

.ctasection .ctaLeft .ctaDivider::after {
  content: '';
  position: absolute;
  right: -1px;
  width: 20px;
  height: 20px;
  background-color: #dd082f;
  bottom: -6px;
  border-radius: 100%;
}

.ctasection .ctaLeft .ctaDivider::before {
  content: '';
  position: absolute;
  left: -1px;
  width: 20px;
  height: 20px;
  background-color: #dd082f;
  bottom: -6px;
  border-radius: 100%;
}

.ctasection .ctaLeft .ctadescription {
  font-size: 20px;
}

.ctasection .ctaRight {
  flex: 1;
  padding-right: 80px;
}

.ctasection .ctaRight button {
  border-radius: 70px;
  color: #dd082f;
  transition: all 0.4s ease-in-out;
  border: none;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.ctasection .ctaRight button:hover {
  background-color: #dd082f !important;
  color: white !important;
}

.counterHeading {
  padding-top: 30px;
  box-shadow: 2px -12px 6px -13px #999;
}

.counterHeading h4 {
  font-size: 75px;
  color: #dd082f;
  padding-left: 30px;
  padding-right: 30px;
  border-bottom: 4px solid #dd082f;
}

.counterHeading h4::after {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  background-color: black;
  bottom: -10px;
  right: 0;
  border-radius: 100%;
}

.counterHeading h4::before {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  background-color: black;
  bottom: -10px;
  left: 0;
  border-radius: 100%;
}

.counterHeading h4 span::after {
  position: absolute;
  content: '';
  width: 120px;
  height: 120px;
  background-image: url("./assets/Logo/HeartIcon.png");
  left: -180px;
  bottom: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.counterSection {
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  bottom: -15px;
}

@media (max-width: 750px) {
  .counterSection {
    flex-direction: column;
  }
}

.counterSection .counterBox {
  flex: 1;
  gap: 2;
}

.counterSection .counterBox h2 {
  font-size: 50px;
}

.STATSBG {
  background-image: url("./assets/Stats/bg.png");
  background-size: cover;
  background-position: center;
  padding-bottom: 105px !important;
  padding-top: 82px !important;
}

.STATSBG .StatsContent {
  padding: 20px;
  padding-left: 100px;
  gap: 15px;
}

.STATSBG .StatsContent h2::after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background-image: url("./assets/Logo/HeartIcon.png");
}

@media (max-width: 1000px) {
  .STATSBG .StatsContent {
    padding-left: 0px;
  }
}

@media (max-width: 990px) {
  .STATSBG .StatsContent {
    padding-left: 10%;
  }
}

@media (max-width: 700px) {
  .STATSBG .StatsContent {
    padding-left: 5%;
  }
}

.STATSBG .clientTestimonial {
  padding-left: 10%;
}

@media (max-width: 990px) {
  .STATSBG .clientTestimonial {
    padding-left: 10%;
  }
}

@media (max-width: 700px) {
  .STATSBG .clientTestimonial {
    padding-left: 5%;
  }
}

.STATSBG .clientTestimonial .clientBox {
  width: 50%;
  height: 400px;
  padding: 20px;
}

@media (max-width: 800px) {
  .STATSBG .clientTestimonial .clientBox {
    width: 80%;
  }
}

@media (max-width: 560px) {
  .STATSBG .clientTestimonial .clientBox {
    width: 99%;
  }
}

.STATSBG .clientTestimonial .clientBox .pictureIcon {
  width: 60px;
  height: 60px;
  bottom: -25px;
  left: 60px;
}

.STATSBG .clientTestimonial .clientBox .userInfo {
  bottom: -120px;
  left: 50px;
}

.FaqSection {
  background-color: #fffafa;
  margin: 50px 0;
}

.wrapper {
  width: 60%;
}

.FAQHEADING {
  margin-bottom: 20px;
  border-bottom: 3px solid #dd082f;
}

.FAQHEADING::after {
  content: '';
  width: 20px;
  height: 20px;
  background-color: #000;
  position: absolute;
  bottom: -10px;
  right: 0;
  border-radius: 100%;
}

.FAQHEADING::before {
  content: '';
  width: 20px;
  height: 20px;
  background-color: #000;
  position: absolute;
  bottom: -10px;
  left: 0;
  border-radius: 100%;
}

.FAQHEADING span {
  color: #d30027;
}

@media (max-width: 650px) {
  .FAQHEADING {
    font-size: 35px;
  }
}

.FaqBanner {
  background-color: #d30027;
  box-shadow: 0 5px 10px 0 black;
  margin: 20px 0;
}

.question {
  padding: 20px 80px 20px 20px;
  cursor: pointer;
}

.question p {
  margin-bottom: 0.1rem;
}

.question::after {
  content: '\002B';
  font-size: 2.2rem;
  position: absolute;
  right: 20px;
  transition: 0.2s;
}

.question.active::after {
  transform: rotate(45deg);
}

.answercont {
  max-height: 0;
  transition: 0.3s;
  background-color: #1d1d1d;
}

.answer {
  padding: 20px 20px 20px;
  line-height: 1.5rem;
}

@media screen and (max-width: 790px) {
  .wrapper {
    width: 80%;
  }
}

.blogSection {
  background-image: url("./assets/blog/Untitled-11.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.blogSection h4 {
  font-size: 60px;
  color: #dd082f;
  padding-left: 20px;
  padding-right: 20px;
}

.blogSection .dividerBlog {
  height: 3px;
  background-color: #dd082f;
}

.blogSection .dividerBlog::after {
  content: '';
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  border-radius: 100%;
  right: 0;
  bottom: -9px;
}

.blogSection .dividerBlog::before {
  content: '';
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  border-radius: 100%;
  left: -2px;
  bottom: -9px;
}

.blogSection .blogCardContainer {
  gap: 30px;
}

@media (max-width: 1000px) {
  .blogSection .blogCardContainer {
    flex-direction: column;
    width: 100%;
  }
}

.blogSection .blogCardContainer .blogCard {
  width: 350px;
  height: 500px;
  border-radius: 4px;
}

@media (max-width: 1000px) {
  .blogSection .blogCardContainer .blogCard {
    width: 80%;
  }
  .blogSection .blogCardContainer .blogCard span {
    background-color: #dd082f;
  }
}

.contentContact {
  gap: 10px;
}

.contentContact h3 {
  color: #dd082f;
}

.contentContact h4 {
  font-size: 65px !important;
  font-weight: 500 !important;
}

@media (max-width: 1000px) {
  .contentContact h4 {
    font-size: 39px !important;
  }
}

.contentContact h4 span {
  color: #dd082f;
}

.contentContact .ContactDivider {
  width: 80%;
  height: 4px;
}

.contentContact .ContactDivider::after {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  background-color: #dd082f;
  border-radius: 100%;
  right: -3px;
  top: -7px;
}

.contentContact .ContactDivider::before {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  background-color: #dd082f;
  border-radius: 100%;
  left: -3px;
  top: -7px;
}

.contentContact .contactUtilsContainer .contactIconBox {
  padding: 10px;
  gap: 50px;
}

.contentContact .contactUtilsContainer .contactIconBox i {
  color: #dd082f;
}

.contentContact .contactUtilsContainer .contactIconBox .contactText {
  border-bottom: 2px solid #959595;
}

.contentContact .contactUtilsContainer .contactIconBox .contactText h4 {
  font-size: 1.2rem;
  color: #959595;
}

.contactInput {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  gap: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

@media (max-width: 1000px) {
  .contactInput:first-child {
    margin-bottom: 10px;
  }
}

.contactInput input {
  padding-top: 15px;
  padding-bottom: 15px;
  outline: none;
  flex: 1;
  border: none;
}

.contactTextArea {
  padding-right: 10px;
  padding-left: 10px;
  gap: 5px;
  padding-top: 10px;
  border-radius: 5px;
}

.contactTextArea textarea {
  border: none;
  outline: none;
}

.SubmitButton {
  background-color: #df202c;
  border-radius: 6px;
}

.footer-section {
  background: #151414;
  background-image: url("./assets/Footer/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer-content {
  z-index: 2;
}

.footer-logo {
  margin-bottom: 30px;
}

.footer-logo img {
  max-width: 200px;
}

.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}

.facebook-bg {
  background: #3b5998;
}

.twitter-bg {
  background: #55acee;
}

.google-bg {
  background: #dd4b39;
}

.footer-widget-heading h3 {
  font-size: 20px;
  font-weight: 600;
}

.facebookcolor i {
  color: #dd082f;
}

.footer-widget-heading i:nth-child(2) {
  background-color: transparent;
}

@media (max-width: 1200px) {
  .footer-widget.first-column {
    float: left;
  }
}

.subscribe-form input {
  padding: 14px 28px;
  background: #2e2e2e;
  border: 1px solid #2e2e2e;
  color: #999;
}

.subscribe-form button {
  right: 0;
  background: #dc0028;
  padding: 13px 20px;
  top: 1px;
  border: none;
  border-radius: 10px 0px 0px 10px;
}

.subscribe-form button i {
  font-size: 22px;
  transform: rotate(-6deg);
}

.mb-206 {
  margin-bottom: 206px;
}

.pl-50 {
  padding-left: 50px;
}

.pr-50 {
  padding-right: 50px;
}

.mr-30 {
  margin-right: 30px;
}

.fs-15 {
  font-size: 15px;
}

.fs-r-1-2 {
  font-size: 1.2rem;
}

.weight-800 {
  font-weight: 800;
}

.border-b-dark-4-red {
  border-bottom: 4px solid #dd082f;
}

.border-b-none {
  border-bottom: none;
}

.radius-full {
  border-radius: 100%;
}

.border-w-1 {
  border: 1px solid #fff;
}

.h-200 {
  height: 200px !important;
}

.w-40 {
  width: 40px;
}

.h-40 {
  height: 40px;
}

.bg-dark-red {
  background-color: #dd082f;
}

.text-dark-red {
  background-color: #dd082f;
}

.text-gray-dark {
  color: #999;
}

.decoration-none {
  text-decoration: none;
}

.overflow-visible {
  overflow: visible;
}

@keyframes lineAnimation {
  0%,
  100% {
    bottom: 100vh;
    left: 424px;
  }
  50% {
    bottom: 0;
    left: -54px;
    transform: rotate(27deg);
  }
}

@keyframes line2Animation {
  0% {
    bottom: 0;
    left: -1px;
    transform: rotate(29deg);
  }
  50% {
    bottom: 60vh;
    left: 304px;
    transform: rotate(29deg);
  }
  100% {
    bottom: 0;
    left: 10px;
    transform: rotate(29deg);
  }
}

@keyframes line3Animation {
  0%,
  100% {
    transform: translateX(-42px) rotate(22deg);
  }
  50% {
    transform: translateX(328px) translateY(-1000px) rotate(22deg);
  }
}

@keyframes line4Animation {
  50% {
    transform: translateX(-90px) translateY(200px) rotate(22deg);
  }
  to {
    transform: translateX(-50%) rotate(22deg);
  }
}

@media (max-width: 1280px) {
  @keyframes lineAnimation {
    0%,
    100% {
      bottom: 100vh;
      left: 430px;
      transform: rotate(28deg);
    }
    50% {
      bottom: 0;
      left: 4px;
      transform: rotate(32deg);
    }
  }
  @keyframes line2Animation {
    0% {
      bottom: 0;
      left: 51px;
      transform: rotate(29deg);
    }
    50% {
      bottom: 60vh;
      left: 304px;
      transform: rotate(29deg);
    }
    100% {
      bottom: 0;
      left: 65px;
      transform: rotate(29deg);
    }
  }
  @keyframes line3Animation {
    0%,
    100% {
      transform: translateX(201px) rotate(22deg);
    }
    50% {
      transform: translateX(540px) translateY(-1000px) rotate(22deg);
    }
  }
  @keyframes line4Animation {
    0% {
      transform: translateX(80px) rotate(22deg);
    }
    50% {
      transform: translateX(-12px) translateY(200px) rotate(22deg);
    }
    100% {
      transform: translateX(80px) rotate(22deg);
    }
  }
}

@keyframes line5Animation {
  0%,
  100% {
    transform: translateX(-50px) rotate(31deg);
  }
  50% {
    transform: translateX(-297px) translateY(400px) rotate(31deg);
  }
}

.sliderImages {
  width: 220px !important;
  border: 5px solid #dd082f;
  height: 220px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 2rem;
  margin-right: 100px !important;
}

@media (max-width: 1000px) {
  .sliderImages {
    width: 215px !important;
    height: 215px !important;
  }
}

.partnersSlider .slick-slide.slick-current + .slides.slick-slide .sliderImages {
  background: white;
  transform: scale(1.4);
  filter: drop-shadow(-1px 1px 4px black);
  z-index: 9999;
}

.partnersSlider .slick-list {
  padding: 47px 72px !important;
}

.sliderImages img {
  position: relative;
  animation: float 7s ease-in-out infinite;
}

.sliderImages:nth-child(2) img {
  position: relative;
  animation-delay: 1s;
}

.sliderImages:nth-child(3) img {
  position: relative;
  animation-delay: 3s;
}

.sliderPartner {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px auto;
}

.sliderPartner .sliderImages {
  background-color: #fff;
}

.sliderPartner .slick-list.draggable {
  padding: 70px 10px !important;
}

@media (max-width: 1000px) {
  .sliderPartner .slick-list.draggable {
    padding: 70px 64px !important;
  }
}

@media (max-width: 780px) {
  .sliderPartner .slick-list.draggable {
    padding: 70px 0px !important;
  }
}

.sliderPartner .slick-dots {
  display: flex;
  margin-top: 50px;
  gap: 30px;
  justify-content: center;
}

.sliderPartner .slick-dots li {
  width: 10px;
  height: 10px;
  background-color: #dd082f;
  border-radius: 50%;
  list-style: none;
}

.sliderPartner .slick-dots li.slick-active {
  width: 15px;
  height: 15px;
  background-color: #dd082f;
  border-radius: 50%;
  list-style: none;
  padding: 5px;
}

.sliderpartnerList {
  width: 39%;
  height: 100%;
}

@media (max-width: 1280px) {
  .sliderpartnerList {
    width: 55%;
  }
}

@media (max-width: 1000px) {
  .sliderpartnerList {
    width: 98%;
  }
}

.sliderpartnerList .slides.slick-slide.slick-current.slick-active.slick-center {
  filter: drop-shadow(4px 3px 4px black);
  transform: scale(1.5);
  transition: all 0.5s ease-in;
  z-index: 10;
}

.sliderpartnerList .slides.slick-slide.slick-current.slick-active.slick-center .sliderImages {
  background-color: #ffffff;
}

.sliderpartnerList
.slides.slick-slide.slick-current.slick-active.slick-center
+ .sliderpartnerList
.slick-slide
.slick-active {
  z-index: -10px;
}

.sliderpartnerList .slick-next,
.slick-prev {
  display: none !important;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
}

@media (max-width: 1280px) {
  .BannerContainer .line3 {
    width: 4px;
    height: 264px;
    right: 512px;
    bottom: 124px;
  }
  .BannerContainer .line4 {
    height: 271px;
    right: 614px;
    bottom: -1px;
    transform: rotate(22deg);
  }
  .BannerContainer .line5 {
    width: 4px;
    height: 251px;
    right: 123px;
    bottom: 29px;
  }
  .BannerContainer::after {
    width: 88%;
    left: 73px !important;
  }
  .BannerContainer .HerSection {
    padding-left: 259px;
    padding-top: 267px !important;
  }
  .BannerContainer .HerSection span {
    font-size: 109px;
    line-height: 110px !important;
  }
  .BannerContainer .HerSection p {
    max-width: 80%;
  }
  .BannerContainer .BannerRight {
    right: 0px;
    width: 111%;
  }
  .Aboutus .AboutContainer .experience {
    top: 43px;
  }
  .Aboutus .AboutContainer .playVideo {
    width: 105px;
    height: 105px;
    background-color: #dc0028;
    bottom: -135px;
    right: -29px;
  }
  .owl-carousel .item .ItemCard {
    gap: 0px !important;
  }
  .services {
    height: auto;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .Aboutus .AboutContainer {
    height: auto;
    padding: 30px;
  }
  .technology h4 {
    font-size: 63px;
  }
  .technology .technologyContainer .column:first-child {
    margin-left: 50px;
  }
  .owl-carousel .item .ItemCard p {
    font-size: 14px;
  }
  .STATSBG .clientTestimonial .clientBox {
    width: 68%;
    margin-left: 35px;
  }
  .BannerContainer .contactbutton {
    right: 4%;
  }
  .dotted-line::after {
    width: 109%;
  }
  .dotted-line .dotted-line-active {
    background-color: #dd082f;
  }
  .slick-carousel .slick-next {
    right: -10px;
  }
}

@media (max-width: 1000px) {
  .BannerContainer::after {
    content: '';
    clip-path: none !important;
    width: 100%;
    left: 0px !important;
  }
  .BannerContainer .line1 {
    display: none;
  }
  .BannerContainer .line2 {
    display: none;
  }
  .BannerContainer .line3 {
    display: none;
  }
  .BannerContainer .line4 {
    display: none;
  }
  .BannerContainer .line5 {
    display: none;
  }
  .ctasectionBox {
    flex-direction: column !important;
    align-items: start;
    justify-content: start;
  }
  .Aboutus .AboutContainer .bottom-img {
    left: -31px !important;
  }
  .Aboutus .AboutContainer .experienceCard {
    left: -155px;
    top: 196px !important;
  }
  .Aboutus .AboutContainer .playVideo {
    width: 150px;
    height: 150px;
    background-color: #dc0028;
    bottom: -174px;
    right: 86px;
  }
  .BannerContainer .HerSection span {
    font-size: 91px;
    line-height: 89px !important;
  }
}

@media (max-width: 450px) {
  .slick-carousel .slide-content {
    width: 150px;
    height: 150px;
    margin-left: 50px;
  }
  .dotted-line::after {
    width: 96%;
    content: '';
    top: 120px;
    left: -45px;
    z-index: -1;
  }
  .slick-carousel .slick-next {
    bottom: 113px;
  }
  .slick-carousel .slick-prev {
    left: -45px;
    bottom: 111px;
  }
  .technology h4 {
    font-size: 40px !important;
  }
  .ourRecentProjects .headingRecentProjects h2 {
    font-size: 40px !important;
    padding-left: 10px;
    padding-right: 10px;
  }
  .sliderPartner .slick-list.draggable {
    padding: 70px 71px !important;
  }
  .StatsContentHeader {
    padding-left: 0px !important;
  }
  .Brands h2 {
    font-size: 30px !important;
  }
}

@media (max-width: 770px) {
  .Aboutus .AboutContainer .experienceCard {
    left: -139px;
    top: 149px !important;
  }
  .BannerContainer .HerSection {
    padding-left: 50px;
    padding-top: 201px !important;
  }
  .STATSBG .clientTestimonial .clientBox {
    width: 74%;
    margin-right: 10px;
    margin-left: 33px;
    height: auto !important;
  }
}
